@model IEnumerable<Web.Models.Animal.PeoplePets>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pets.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pets.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pets.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pets.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pets.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pets.PersonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Pets.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pets.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pets.Genre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pets.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pets.Birthday)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pets.PersonId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.People.FirstName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Pets.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Pets.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Pets.Id })
    </td>
</tr>
}

</table>
